*.class

# Package Files #
*.jar
*.war
*.ear
*.suo

UnitTests/AT.Data.UnitTests/App.config
TestResults/

UnitTests/AT.Core.UnitTests/bin/
UnitTests/AT.Core.UnitTests/obj/
UnitTests/AT.Data.UnitTests/bin/
UnitTests/AT.Data.UnitTests/obj/

AT.Core/bin/
AT.Core/obj/
AT.Data/obj/
AT.Data/bin/

packages/